<footer>
    <div class="mx-5 ps-5 py-5 ">
        <div class="d-flex flex-wrap justify-content-between row-gap-5">
            <div class="col-12 col-lg-3 offset-lg-1 ">
                <div class="text-center text-lg-start">
                    <h3 class="ps-2">LOCATION</h3>
                    <span>2215 John Daniel Drive</span><br>
                    <div  class="ps-3"><span>Clark, MO 65243</span></div>
                </div>
            </div>
            <div class="col-12 col-lg-3 ">
                <div>
                    <h3 class="text-center">AROUND THE WEB</h3>
                    <ul class="ps-0 d-flex gap-2 w-fit mx-auto">
                        <li><span class="icon"><i class="fa-brands fa-facebook"></i></span></li>
                        <li><span class="icon"><i class="fa-brands fa-twitter"></i></span></li>
                        <li><span class="icon"><i class="fa-brands fa-linkedin"></i></span></li>
                        <li><span class="icon"><i class="fa-solid fa-globe"></i></span></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <span>Freelance is a free to use, licensed Bootstrap theme created by Route</span>
                </div>
            </div>
        </div>

    </div>
    <div class="text-bg-dark text-center py-3"><span>Copyright © Your Website 2021</span></div>
</footer>