<div id="about-component" class="text-white">
    <div class="container h-100 d-flex align-items-center">
    <div class="caption">
        <h1 class="position-relative text-center fw-bold text-uppercase">
            about component
        </h1>
        <app-star></app-star>
        <div class="row gy-3 mt-2 px-5 ">
            <div class="mx-lg-auto col-12 col-lg-6">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                    including HTML, CSS, and JavaScript as well as <br> optional SASS stylesheets for easy customization.
                </p>
            </div>
            <div class="mx-lg-auto col-12 col-lg-6">
                <p>
                    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                    including HTML, CSS, and JavaScript as well as <br> optional SASS stylesheets for easy customization.
                </p>
            </div>
        </div>
    </div>
    </div>
</div>