.i{
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        width: 100px;
        height: 4px;
        background-color: white;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }  
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: 30px;
        width: 100px;
        height: 4px;
        background-color: white;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}  


}