<div id="contact-component" class=" vh-100">
    <h1 class="text-uppercase fw-bold text-center">Contact section</h1>
    <div class="i w-fit mx-auto  position-relative"><i class="fa-solid fa-star"></i></div>

    <div class="w-50 mx-auto my-5 py-5">
        <form class="mb-5" action="">
            <input class="form-control border-0 border-bottom" placeholder="Name" type="text">
            <input class="form-control border-0 border-bottom mt-5" placeholder="Age" type="number" min="18">
            <input class="form-control border-0 border-bottom mt-5" placeholder="Email" type="email">
            <input class="form-control border-0 border-bottom mt-5 " placeholder="Password" type="password">
            <button class="btn btn-success mt-3 px-3">Send Message</button>
        </form>
    </div>
</div>