<nav #nav class="navbar navbar-expand-lg position-fixed z-3 w-100 top-0">
    <div class="container align-items-center">
        <a class="navbar-brand text-white text-uppercase fw-bold fs-2" routerLink="About">
            Start Framework
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-3  pe-4">
                <li class="nav-item text-uppercase fw-bold">
                    <a class="nav-link text-white px-3" routerLink="About" routerLinkActive="bg-success rounded-pill">
                        about
                    </a>
                </li>
                <li class="nav-item text-uppercase fw-bold">
                    <a class="nav-link text-white px-3" routerLink="Portfolio" routerLinkActive="bg-success rounded-pill">
                        portfolio
                    </a>
                </li>
                <li class="nav-item text-uppercase fw-bold">
                    <a class="nav-link text-white px-3" routerLink="Contact" routerLinkActive="bg-success rounded-pill">
                        contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>