.i{
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        width: 100px;
        height: 4px;
        background-color: black;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }  
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        right: 30px;
        width: 100px;
        height: 4px;
        background-color: black;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}  
}


.card .layer {
    i{
        font-size: 70px;
        transition: 0.2s 0.3s;
        -webkit-transition: 0.2s 0.3s;
        -moz-transition: 0.2s 0.3s;
        -ms-transition: 0.2s 0.3s;
        -o-transition: 0.2s 0.3s;
}
    background-color: #1abc9c;
    opacity:0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card:hover{
    .layer{
        opacity: 1;
        i{
            font-size: 75px;
        }
    }
}


.main-layer{
    img{
        width: 600px;
    }
}


#portfolio-component{
    padding-top: 100px;
}